<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}My site{% endblock %}
    </title>
</head>
<body style="display: flex; flex-direction: row; align-items: center">
    <div id="sidebar">
        {% block sidebar %}
            <ul>
                <li><a href="/">Project_Home</a></li>
                <li><a href="/admin">Admin</a></li>
            </ul>
        {% endblock sidebar %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div> 
</body>
</html>