#round {
    border-radius: 30px;
}

.task-box {
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 10px;
}

.task-item {
    border-style: groove;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

.task-text {
    margin-right: auto;
}